<table class="adminTable acms-admin-table-admin-edit">
	<tr>
		<th><!--T-->表示件数<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip-hover" data-acms-tooltip="<!--T-->一度に表示される件数です。<!--/T-->"></i></th>
		<td>
			<input type="text" name="ga4_ranking_max_results" value="{ga4_ranking_max_results}" placeholder="10" size="4" class="acms-admin-form-width-mini" />
			<input type="hidden" name="config[]" value="ga4_ranking_max_results" />
			<input type="hidden" name="ga4_ranking_max_results:convert" value="a" />
			<input type="hidden" name="ga4_ranking_max_results:validator#digits" id="validator-ga4_ranking_max_results-digits" />
			<div role="alert" aria-live="assertive">
				<div data-validator-label="validator-ga4_ranking_max_results-digits" class="validator-result-{ga4_ranking_max_results:validator#digits}">
					<p class="error-text"><span class="acms-admin-icon acms-admin-icon-attention" aria-hidden="true"></span><!--T-->数字を入力して下さい。<!--/T--></p>
				</div>
			</div>
		</td>
	</tr>
	<tr>
		<th><!--T-->集計開始日<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip-hover" data-acms-tooltip="<!--T-->ランキング集計期間の開始日を指定します。<!--/T-->"></i></th>
		<td>
			<input type="text" name="ga4_ranking_start_date" value="{ga4_ranking_start_date}" placeholder="7daysAgo" size="4" class="acms-admin-form-width-mini" />
			<input type="hidden" name="config[]" value="ga4_ranking_start_date" />
			<input type="hidden" name="ga4_ranking_start_date:convert" value="a" />
			<!--T-->例)<!--/T--> YYYY-MM-DD | today | yesterday | daysAgo (7daysAgo)
		</td>
	</tr>
	<tr>
		<th><!--T-->集計終了日<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip-hover" data-acms-tooltip="<!--T-->ランキング集計期間の終了日を指定します。<!--/T-->"></i></th>
		<td>
			<input type="text" name="ga4_ranking_end_date" value="{ga4_ranking_end_date}" placeholder="today" size="4" class="acms-admin-form-width-mini" />
			<input type="hidden" name="config[]" value="ga4_ranking_end_date" />
			<input type="hidden" name="ga4_ranking_end_date:convert" value="a" />
			<!--T-->例)<!--/T--> YYYY-MM-DD | today | yesterday | daysAgo (7daysAgo)
		</td>
	</tr>
	<tr>
		<th><!--T-->含める条件（部分一致）<!--/T--></th>
		<td>
			<input type="text" name="ga4_ranking_filter" value="{ga4_ranking_filter}" size="8" class="acms-admin-form-width-large" />
			<input type="hidden" name="config[]" value="ga4_ranking_filter" />
		</td>
	</tr>
	<tr>
		<th><!--T-->含めない条件（部分一致）<!--/T--></th>
		<td>
			<input type="text" name="ga4_ranking_exclude_filter" value="{ga4_ranking_exclude_filter}" size="8" class="acms-admin-form-width-large" />
			<input type="hidden" name="config[]" value="ga4_ranking_exclude_filter" />
		</td>
	</tr>
</table>